<header class="relative mb-28 w-full py-4">
  <h1 class="absolute left-0 top-8 flex justify-center sm:left-1/2 sm:-translate-x-1/2">
    <a
      href="/"
      title="Galvez 1519 - Hogar soñado en el corazón de El Tambo"
      class="flex items-center space-x-1 self-center font-tanPearl text-2xl tracking-wider"
    >
      <span class="pt-1">GALVEZ</span>
      <span class="rounded-md bg-[#795a45] px-2 pt-1.5 text-white"> 1519 </span>
    </a>
  </h1>
  <div class="absolute right-0 top-7 flex space-x-2">
    <a
      href="/docs/brochure-galvez1519.pdf"
      target="_blank"
      rel="noopener noreferrer"
      title="Ver brochure"
      aria-label="Ver Brochure"
      class="rounded-full bg-amber-700 px-4 py-3 text-xs text-white transition-transform hover:scale-[103%] active:scale-95 sm:px-6 sm:text-sm"
    >
      Brochure
    </a>
  </div>
</header>
