@import "./custom-photoswipe.css";

@font-face {
  font-family: "Tan Pearl";
  src: url("../fonts/tan-pearl.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
