@import "./custom-photoswipe.css";

@font-face {
  font-family: "Tan Pearl";
  src: url("../fonts/tan-pearl.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("../fonts/nourd_bold.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

::selection {
  background: rgba(255, 218, 121, 0.5);
}
