---
const now = new Date();
const currentYear = now.getFullYear();
---

<footer class="reveal py-12">
  <p class="mb-4 rounded-lg bg-[#E0DDD8] px-4 py-3 text-xs">
    Las imágenes contenidas en la presente pieza publicitaria pueden variar por razones de tipo
    comercial, técnicas o municipales. La decoración y mobiliario presentado en los diferentes
    ambientes son de carácter referencial y solo se incluye lo indicado según la memoria de
    acabados.
  </p>
  <p class="text-right text-xs">
    © {currentYear} Galvez1519. All rights reserved.
  </p>
</footer>
