---
import whatsapp from "../../assets/whatsapp.svg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<header class="py-4 w-full mb-16 relative">
  <h1
    class="flex justify-center absolute left-0 sm:left-1/2 sm:-translate-x-1/2 top-3"
  >
    <a
      href="/"
      title="Libertad | Home page"
      class="flex items-center space-x-1 self-center text-lg font-manrope tracking-wider"
    >
      <Icon
        name="material-symbols-light:home-work-outline-rounded"
        class="text-[#ff9100]"
        size="48"
      />
      <b class="block pt-2">Libertad</b>
    </a>
  </h1>
  <div class="flex space-x-2 absolute right-0 top-5">
    <a
      href="https://wa.me/51988226088/?text=Quiero%20reservar%20una%20cita.%20%0AProyecto%20Libertad%20124%2C%20El%20Tambo%20Huancayo"
      class="bg-[#25D366] p-2 rounded-full w-11 h-11 relative"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={whatsapp}
        alt="Libertad | Whatsapp"
        class="w-6 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2"
      />
    </a>
    <button
      aria-label="Desacargar Brochure"
      class="px-6 py-3 text-sm text-white rounded-full bg-black"
    >
      Brochure
    </button>
  </div>
</header>
