---
import HeroGallery from "../HeroGallery.astro";
---

<section class="relative mb-[40px]">
  <p class="text-center text-xl sm:text-2xl">Vive una experiencia única</p>
  <h2
    class="reveal text-nowrap text-center font-manrope leading-[1em]"
    style="font-size:clamp(24px, 10vw + 1rem, 160px)"
  >
    Hogar soñado
  </h2>
  <HeroGallery />
  <section
    class="absolute -bottom-9 left-0 w-full items-center rounded-[26px] bg-[#e0ddd5] py-5 drop-shadow-xl sm:left-1/2 sm:w-[70%] sm:-translate-x-1/2 sm:px-6 lg:flex lg:justify-between"
  >
    <h2 class="hidden">características</h2>
    <div class="mb-4 flex w-full items-center justify-around lg:mb-0 lg:w-1/2">
      <article class="flex items-center space-x-3">
        <svg
          width="40"
          height="40"
          class="text-amber-700"
          data-icon="material-symbols-light:king-bed-outline"
        >
          <symbol id="ai:material-symbols-light:king-bed-outline" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M4.77 18h-.54l-.38-2H3v-3.39q0-.671.472-1.14q.472-.47 1.144-.47H5V8.615q0-.67.472-1.143Q5.944 7 6.616 7h10.769q.67 0 1.143.472q.472.472.472 1.143V11h.385q.67 0 1.143.472q.472.472.472 1.144V16h-.85l-.38 2h-.54l-.38-2H5.15zm7.73-7H18V8.615q0-.269-.173-.442T17.385 8H12.5zM6 11h5.5V8H6.616q-.27 0-.443.173T6 8.615zm-2 4h16v-2.384q0-.27-.173-.443T19.385 12H4.615q-.269 0-.442.173T4 12.616zm16 0H4z"
            ></path></symbol
          ><use href="#ai:material-symbols-light:king-bed-outline"></use>
        </svg>
        <div>
          <h3><span class="font-nourd">3</span> Dorms</h3>
          <p><b><span class="font-nourd">2</span> Baños</b></p>
        </div>
      </article>
      <article class="flex items-center space-x-3">
        <svg
          width="40"
          height="40"
          class="text-amber-700"
          data-icon="material-symbols-light:activity-zone-outline"
        >
          <symbol id="ai:material-symbols-light:activity-zone-outline" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M5.77 20.23q-.834 0-1.417-.582q-.584-.584-.584-1.417q0-.706.428-1.238q.428-.531 1.072-.702V7.71q-.644-.171-1.072-.703t-.428-1.238q0-.833.584-1.416q.583-.584 1.416-.584q.706 0 1.238.428t.703 1.072h8.58q.166-.644.702-1.072t1.239-.428q.833 0 1.417.583q.583.584.583 1.417q0 .703-.428 1.24q-.428.535-1.072.7v8.582q.644.17 1.072.702t.428 1.238q0 .833-.583 1.417q-.584.583-1.417.583q-.706 0-1.238-.428q-.531-.428-.702-1.072H7.71q-.171.644-.703 1.072t-1.238.428m0-13.462q.425 0 .713-.287t.287-.713t-.287-.712t-.713-.288t-.712.288t-.288.712t.288.713t.712.287m12.462 0q.425 0 .712-.287t.288-.713t-.288-.712t-.712-.288t-.713.288t-.287.712t.287.713t.713.287M7.709 17.731h8.582q.148-.535.526-.914q.38-.378.914-.526V7.71q-.535-.13-.923-.518t-.518-.923H7.71q-.148.535-.527.914q-.38.378-.914.526v8.582q.535.148.914.526q.379.38.527.914m10.52 1.5q.426 0 .713-.288t.288-.712t-.288-.713t-.712-.287t-.713.287t-.287.713t.287.712t.713.288m-12.462 0q.425 0 .713-.288t.287-.712t-.287-.713t-.713-.287t-.712.287t-.288.713t.288.712t.712.288m0-1"
            ></path></symbol
          ><use href="#ai:material-symbols-light:activity-zone-outline"></use>
        </svg>
        <div>
          <h3>Área</h3>
          <p><b>Desde <span class="font-nourd">81m<sup>2</sup></span> </b></p>
        </div>
      </article>
    </div>
    <div class="flex w-full items-center justify-around lg:w-1/2">
      <article class="flex items-center space-x-3">
        <svg
          width="40"
          height="40"
          class="text-amber-700"
          data-icon="material-symbols-light:graph-5"
        >
          <symbol id="ai:material-symbols-light:graph-5" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M11.983 21.462q-.978 0-1.664-.69t-.685-1.676q0-.84.534-1.49t1.332-.816v-2.478q-.39-.062-.717-.257t-.566-.491l-2.094 1.252q.064.173.095.363q.032.19.032.379q0 .985-.702 1.675t-1.68.69t-1.664-.689t-.685-1.673t.684-1.676t1.662-.693q.526 0 .983.207t.78.557l2.09-1.246q-.045-.164-.077-.347t-.032-.368q0-.183.032-.36t.095-.358l-2.088-1.213q-.323.369-.786.576q-.464.206-.997.206q-.977 0-1.662-.689T3.52 8.484t.685-1.676t1.664-.692t1.68.69t.702 1.675q0 .188-.022.377q-.022.188-.086.352l2.094 1.207q.239-.276.556-.469t.708-.254V7.196q-.798-.165-1.332-.818q-.533-.653-.533-1.493q0-.986.685-1.676t1.663-.69t1.68.69t.703 1.676q0 .84-.534 1.493t-1.332.818v2.518q.371.08.686.266q.314.186.553.462l2.138-1.219q-.063-.173-.095-.363t-.032-.38q0-.985.685-1.675t1.664-.69t1.68.69t.702 1.672t-.702 1.677t-1.683.692q-.518 0-.957-.206q-.439-.207-.762-.557l-2.144 1.219q.063.164.085.34q.023.175.023.358t-.032.352t-.076.333l2.144 1.27q.323-.35.762-.556q.44-.207.957-.207q.981 0 1.683.69q.702.688.702 1.672q0 .985-.702 1.677t-1.68.692t-1.664-.69t-.685-1.675q0-.198.032-.379t.095-.363l-2.12-1.252q-.238.296-.552.478q-.314.183-.705.264v2.485q.798.165 1.332.815t.533 1.49q0 .986-.702 1.676t-1.68.69m.007-1q.57 0 .972-.393t.403-.972q0-.58-.398-.973t-.986-.393q-.56 0-.953.403q-.393.402-.393.962t.393.963t.963.402m-6.116-3.538q.57 0 .972-.392q.403-.392.403-.972t-.398-.973t-.986-.394q-.56 0-.953.403q-.394.403-.394.963t.393.962q.394.403.963.403m12.23 0q.57 0 .973-.392t.403-.972t-.398-.973t-.987-.394q-.56 0-.953.403t-.393.963t.393.962t.963.403m-6.116-3.558q.57 0 .972-.392q.403-.392.403-.972t-.398-.973t-.986-.394q-.56 0-.953.403q-.394.403-.394.963t.394.962t.962.403M5.875 9.846q.57 0 .972-.392q.403-.392.403-.972t-.398-.973q-.398-.394-.986-.394q-.56 0-.953.403q-.394.403-.394.963t.393.962q.394.403.963.403m12.23 0q.57 0 .973-.392t.403-.972t-.398-.973q-.398-.394-.987-.394q-.56 0-.953.403t-.393.963t.393.962t.963.403M11.99 6.25q.57 0 .973-.392t.403-.972t-.399-.973q-.398-.394-.986-.394q-.56 0-.953.403t-.393.963t.393.962t.963.403"
            ></path></symbol
          ><use href="#ai:material-symbols-light:graph-5"></use>
        </svg>
        <div><h3>Etapa</h3> <p><b>Lanzamiento</b></p></div>
      </article>
      <a
        href="#tipologias"
        class="flex items-center space-x-1 rounded-xl bg-amber-700 px-4 py-2 text-white transition-transform hover:scale-105 active:scale-95"
        title="Ver tipologías"
      >
        <svg width="40" height="40" data-icon="material-symbols-light:auto-awesome-mosaic-outline">
          <symbol id="ai:material-symbols-light:auto-awesome-mosaic-outline" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M11 20H5.616q-.691 0-1.153-.462T4 18.384V5.616q0-.691.463-1.153T5.616 4H11zm-1-1V5H5.616q-.27 0-.443.173T5 5.616v12.769q0 .269.173.442t.443.173zm3-8V4h5.385q.69 0 1.152.463T20 5.616V11zm1-1h5V5.616q0-.27-.173-.443T18.385 5H14zm-1 10v-7h7v5.385q0 .69-.462 1.152T18.384 20zm1-1h4.385q.269 0 .442-.173t.173-.442V14h-5zm0-5"
            ></path></symbol
          ><use href="#ai:material-symbols-light:auto-awesome-mosaic-outline"></use>
        </svg>
        <span>Tipos</span>
      </a>
    </div>
  </section>
</section>
