---
import { Image } from "astro:assets";
import map from "../../assets/map.jpg";
import { Icon } from "astro-icon/components";
---

<section class="mb-[70px]">
  <h2
    class="text-xl text-center mb-8 flex justify-center items-center font-bold"
  >
    <Icon
      name="material-symbols-light:distance-outline"
      size="40"
      class="text-[#ff9100]"
    />
    <span> Ubicaci&oacute;n </span>
  </h2>
  <div class="flex space-x-2">
    <article
      class="rounded-[50px] w-1/2 md:w-1/4 px-8 py-11 text-white md:h-[500px] h-[332px] flex-1 overflow-hidden bg-[#ff9100] relative"
    >
      <h3 class="text-2xl mb-5">
        <b>Jr. Pedro Galvez </b>
      </h3>
      <p>Urbanizaci&oacute;n: Pio Pata</p>
      <p>A 2 cuadras de la Capilla Santo Cura de Ars</p>
      <a
        href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        rel="noopener"
        class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 bottom-5"
      >
        <Icon
          name="material-symbols-light:arrow-outward-rounded"
          size="40"
          class="text-[#ff9100]"
        />
      </a>
    </article>
    <article
      class="w-1/2 md:w-3/4 rounded-[50px] md:h-[500px] h-[332px] overflow-hidden relative"
    >
      <Image
        src={map}
        alt="Libertad"
        class="w-full h-full object-cover object-top"
      />
      <a
        href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        rel="noopener"
        class="w-16 flex items-center justify-center h-16 rounded-full bg-[#ff9100] text-white absolute right-5 top-5"
      >
        <Icon
          name="material-symbols-light:arrow-outward-rounded"
          size="40"
          class="text-white"
        />
      </a>
    </article>
  </div>
</section>
