---
import TabNavigation from "../TabNavigation";
import TabNavigationImages from "../TabNavigationImages";
import areas from "../../data/areas";

const tabs = areas.map((area) => area.label);
const images = areas.map((area) => area.images);
const hrefs = areas.map((area) => area.href);
---

<section id="areas-comunes" class="mb-[70px] pt-[50px]">
  <h2 class="text-xl text-center mb-8"><b>Ãreas comunes</b></h2>
  <div class="flex justify-center w-full mb-11">
    <TabNavigation client:load tabs={tabs} />
  </div>
  <TabNavigationImages client:load images={images} hrefs={hrefs} />
</section>
