---
import TabNavigation from "../TabNavigation";
import TabNavigationImages from "../TabNavigationImages";
import areas from "../../data/areas";

const tabs = areas.map((area) => area.label);
const images = areas.map((area) => area.images);
const hrefs = areas.map((area) => area.href);
---

<section id="areas-comunes" class="mb-[50px] px-4 pt-[50px] md:px-0">
  <h2 class="reveal mb-10 text-center text-2xl font-bold tracking-tight">Áreas modernas</h2>
  <div class="reveal mb-10 flex justify-center">
    <TabNavigation client:load tabs={tabs} />
  </div>
  <div class="reveal min-h-[332px]">
    <TabNavigationImages client:visible images={images} />
  </div>
</section>
