---
import TabNavigation from "../TabNavigation";
import TabNavigationImages from "../TabNavigationImages";
import areas from "../../data/areas";

const tabs = areas.map((area) => area.label);
const images = areas.map((area) => area.images);
const hrefs = areas.map((area) => area.href);
---

<section id="areas-comunes" class="mb-[50px] pt-[50px]">
  <h2 class="reveal mb-8 text-center text-xl"><b>Áreas comunes</b></h2>
  <div class="reveal mb-11 flex h-[60px] w-full justify-center">
    <TabNavigation client:only tabs={tabs} />
  </div>
  <div class="reveal h-[332px]">
    <TabNavigationImages client:only images={images} hrefs={hrefs} />
  </div>
</section>
