---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full">
    <header class="py-4">
      <h1 class="w-full">11About 11</h1>
    </header>
  </main>
</Layout>
