---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full p-4">
    <header class="py-4 flex w-full items-center justify-between">
      <button class="px-6 py-3 text-sm rounded-full bg-white flex">
        Menu
      </button>
      <h1 class="w-full text-center">About 11</h1>
      <button class="block px-6 py-3 text-sm text-white rounded-full bg-black">
        Brochure
      </button>
    </header>
  </main>
</Layout>
