---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import hero from "../assets/hero.png";
import { Icon } from "astro-icon/components";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full p-4">
    <header class="py-4 flex w-full items-center justify-between mb-20">
      <button class="px-6 py-3 text-sm rounded-full bg-white flex">
        Menu
      </button>
      <h1 class="w-full text-center">
        <a href="/" title="Libertad" class="inline-block">
          <Image src={logo} alt="Libertad" class="w-24" />
        </a>
      </h1>
      <button class="block px-6 py-3 text-sm text-white rounded-full bg-black">
        Brochure
      </button>
    </header>
    <p class="text-center text-2xl">Vive una experiencia única e inolvidable</p>
    <p class="leading-[1em] text-[190px] text-center font-manrope">
      Hogar soñado
    </p>
    <div class="rounded-full mb-20 relative -mt-[32px]">
      <div
        class="relative overflow-hidden h-[540px] backdrop-blur-sm w-full rounded-[50px] bg-opacity-30 bg-white"
      >
        <Image
          src={hero}
          alt="Libertad"
          class="absolute left-1/2 -translate-x-1/2 top-0"
        />
      </div>
      <section
        class="absolute -bottom-9 left-1/2 -translate-x-1/2 w-[70%] p-3 rounded-[26px] justify-between flex items-end bg-[#e0ddd5]"
      >
        <div class="flex items-center">
          <Icon name="material-symbols-light:king-bed-outline" />
          <div>
            <p>3 Dorms</p>
            <p>2 Baños</p>
          </div>
        </div>
        <div class="flex items-center">
          <Icon name="material-symbols-light:activity-zone-outline" />
          <div>
            <p>3 Dorms</p>
            <p>2 Baños</p>
          </div>
        </div>
        <div class="flex items-center">
          <Icon name="material-symbols-light:graph-5" />
          <div>
            <p>3 Dorms</p>
            <p>2 Baños</p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
