---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full p-4">
    <header class="py-4 flex w-full items-center justify-between">
      <button class="px-6 py-3 text-sm rounded-full bg-white flex">
        Menu
      </button>
      <h1 class="w-full text-center">
        <a href="/" title="Libertad" class="inline-block">
          <Image src={logo} alt="Libertad" class="w-24" />
        </a>
      </h1>
      <button class="block px-6 py-3 text-sm text-white rounded-full bg-black">
        Brochure
      </button>
    </header>
  </main>
</Layout>
