---
const { subtitle } = Astro.props;
---

<div
  class="relative h-[332px] overflow-hidden rounded-[50px] bg-[#EAE8E4] px-8 py-12 sm:px-12 sm:py-16"
>
  <h3 class="mb-5 text-lg font-bold sm:text-2xl">{subtitle}</h3>
  <slot />
</div>
