---
import image1 from "../assets/interior-1.jpg";

import TypologyCard from "./TypologyCard.astro";

const typology1 = {
  title: "70m²",
  subtitle: "Tipo 1",
  floors: { label: "1", isSingular: true },
  image: image1,
  features: [
    { value: 3, label: "Dorms", isBold: true },
    { value: 2, label: "Baños", isBold: true },
    { value: "Kitchenette", label: "" },
    { value: "Sala / Comedor", label: "" },
    { value: "Centro de lavado", label: "" },
  ],
};

const typology2 = {
  title: "81m²",
  subtitle: "Tipo 2",
  image: image1,
  floors: { label: "1", isSingular: true },
  features: [
    { value: 3, label: "Dorms", isBold: true },
    { value: 2, label: "Baños", isBold: true },
    { value: "Kitchenette", label: "" },
    { value: "Sala / Comedor", label: "" },
    { value: "Centro de lavado", label: "" },
  ],
};

const typology3 = {
  title: "90m²",
  subtitle: "Tipo 3",
  floors: { label: "2 al 5", isSingular: false },
  image: image1,
  features: [
    { value: 3, label: "Dorms", isBold: true },
    { value: 2, label: "Baños", isBold: true },
    { value: "Kitchenette", label: "" },
    { value: "Sala / Comedor", label: "" },
    { value: "Centro de lavado", label: "" },
  ],
};

const typology4 = {
  title: "100m²",
  subtitle: "Tipo 4",
  floors: { label: "2 al 5", isSingular: false },
  image: image1,
  features: [
    { value: 3, label: "Dorms", isBold: true },
    { value: 2, label: "Baños", isBold: true },
    { value: "Kitchenette", label: "" },
    { value: "Sala / Comedor", label: "" },
    { value: "Centro de lavado", label: "" },
  ],
};
---

<section id="tipologias" class="mb-[70px] pt-12">
  <h2 class="reveal mb-8 text-center text-xl">
    <b>Encuentra el departamento perfecto para ti!</b>
  </h2>
  <div class="reveal flex flex-col gap-2">
    <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
      <TypologyCard {...typology1} />
      <TypologyCard {...typology2} />
      <TypologyCard {...typology3} />
      <TypologyCard {...typology4} />
    </div>
  </div>
</section>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/dist/photoswipe.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: ".pswp-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
