---
import "@fontsource/mulish";
import "@fontsource/manrope";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Libertad</title>
  </head>
  <body
    id="app"
    class="bg-[#e2e1df] font-mulish opacity-0 transition-opacity duration-300"
  >
    <slot />
  </body>
</html>

<script is:inline>
  window.onload = function () {
    const app = document.getElementById("app"); // The entire page is fully loaded
    app.classList.add("opacity-100");
  };
</script>
